body {
  font-family: Tahoma;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}
a {
  color: #FD9809;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
a:hover {
  color: #e76c3c;
}
.buffer { padding: 25px 0px; }
.no-buffer {padding: 0px !important;}

h3 {
  margin-top: 0;
  font-size: 28px;
  color: #FD9809;
  font-weight: 500;
}

.btn {
  border: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-transform: uppercase;
  border-radius: 0;
}
.btn-common {
  background: #5076D0;
  color: #fff;
}
.btn-common:hover {
  background: #FD9809;
  color: #fff;
}

.title {
  text-align: center;
  font-size: 50px;
}

.subtitle {
  text-align: center;
  font-weight: 100;
  padding-bottom: 30px;
  position: relative;
  color: #bdc3c7;
}

.orange1-bkg {
  background: #FD9809;
}
.orange2-bkg {
  background: #F6CD3B;
}
.orange3-bkg {
  background: #EEE940;
}

.blue-bkg {
  background: #5076D0;
  color: #ddd;
}
.blue-bkg .title {
  color: #FD9809;
}
.blue-bkg .subtitle {
  color: #eee;
}

.white-bkg {
  background: #fff;
  color: #333;
}
.white-bkg .title {
  color: #515151;
  text-shadow: 1px -1px 0 #bdc3c7; 
}
.white-bkg .subtitle {
  color: #bdc3c7;
}

.gray-bkg {
  background: #f1f1f1;
  color: #333;
}
.gray-bkg .title {
  color: #515151;
  text-shadow: 1px -1px 0 #bdc3c7; 
}
.gray-bkg .subtitle {
  color: #bdc3c7;
}

/* Navigations */
.navbar {
  margin-bottom: 0;
}

.navbar-default {
  border: none;
  border-radius: 0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: none;
  color: #fff;
}
.navbar-default .navbar-nav li a,
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus {
  color: #4066C0;
}
.navbar-default .navbar-nav > .active,
.navbar-default .navbar-nav li:hover {
  background: #FD9809;
  padding-bottom: 5px;
  color: #4066C0;
}


.navbar-default .navbar-toggle .icon-bar {
  background: #4066C0;
}

.navbar-default .navbar-brand {
  font-size: 25px;
  font-weight: 100;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
  color: #fff;    
}

.navbar-default .navbar-nav li a,
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus,
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus {
  color: #4066C0;
}

.navbar-default .navbar-brand:hover
{
  color: #FD9809;
}


body { padding-top: 50px; }

.small-logo{
  display: none;
}

.affix .small-logo{
  display: inline;
}
.affix .large-logo{
  display: none;
}

.wrap-around {
  position: relative;
  display: inline-block;
  margin-top: 16px;
  padding: 10px 20px 10px 30px;
  background: rgba(80, 118, 208, 0.85);
  color: #fff;
  text-decoration: none;
}
.wrap-around:before {
  content: '';
  position: absolute;
  right: -10px;
  bottom: -5px;
  width: 10px;
  height: 100%;
  background: #25458d;
  transform: skewY(45deg);
}
.wrap-around:after {
  content: '';
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 10px;
  height: 10px;
  background: #000;
  z-index: -1;
}

/* Carousel */
.carousel-caption {
  float: right;
  min-width: 50%;
  color: #eee;
  right: -25px;
  text-align: right;
  position: absolute;
}
.carousel-inner {
  overflow: visible;
}
.carousel {
  margin-right: 10px;
  margin-left: 10px;
}

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

#hero-area{
  background-repeat: no-repeat;
  background-image: url(../img/hero/mobile-wide.png);
  background-size: cover; 
  min-height: 1vh;
}


#hero-area .btn {
  margin-right: 20px;
}
#hero-area img {
  max-width: 100%;
}

#hero-area h1 {
  color: #fff;
  background-color: rgba(253, 152, 9, 0.7);
  padding: 5px 0;
}
#hero-area h2 {
  margin: 20px 10%;
  padding: 15px;
  color: #fff;
  background-color: rgba(246, 205, 59, 0.7);
}
#hero-area .hero-summary {
  color: #fff;
  margin: 0 20%;
  margin-top: 10%;
  padding: 20px 15px;
  line-height: 30px;
  font-size: 17px;
  background-color: rgba(80, 118, 208, 0.75);
  color: #eee;
}

.service-item img{
  max-height: 120px;
  max-width: 90%;
}
/*Portfolio*/
#portfolio {
  background: #f1f1f1;
}
/*Portfolio Overlay */
.portfolio-item {
  position: relative;
  margin-bottom: 15px;
}
.portfolio-item img {
  width: 100%;
}
.portfolio-item .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}
.portfolio-item:hover .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
}
.portfolio-item .icons .preview {
  position: absolute;
  left: 40%;
  top: 40%;
  color: #fff;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.portfolio-item .icons .preview i {
  color: #FD9809;
}

#about p {
  line-height: 30px;
  font-size: 17px;
}

#contact ::-webkit-input-placeholder {
  color: #ecf0f1;
}
#contact :-moz-placeholder {
  color: #ecf0f1;
}
#contact ::-moz-placeholder {
  color: #ecf0f1;
}
#contact :-ms-input-placeholder {
  color: #ecf0f1;
}
#contact .social i {
  color: #fff;
  padding: 10px;
  margin-right: 5px;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  background: #4066C0;
}
#contact .social .social-links a:hover {
  color: #fff;
}
#contact .social .fa-facebook:hover {
  background: #3b5998;
  color: #fff;
}
#contact .social .fa-twitter:hover {
  background: #00CAFB;
  color: #fff;
}
#contact .social .fa-google-plus:hover {
  background: #D23A1D;
  color: #fff;
}
#contact .social .fa-linkedin:hover {
  background: #007bb6;
  color: #fff;
}
#contact .social .fa-dribbble:hover {
  background: #ea4c89;
  color: #fff;
}
#contact .social .fa-github:hover {
  background: #171515;
  color: #fff;
}
#contact .contact-info {
  margin: 40px 0;
  text-align: right;
}
#contact .contact-info p {
  font-size: 20px;
}
#contact .contact-form .form-control {
  box-shadow: none;
  font-size: 17px;
  margin-bottom: 20px;
  border-radius: 0;
  border: none;
}

/*Scroll Top*/
.to-top i {
  padding: 10px 15px;
  margin: 10px;
  background: transparent;
  color: #FD9809;
  border: 2px solid #FD9809;
  border-radius: 100%;
}
.to-top i:hover {
  background: #FD9809;
  color: #fff;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
